@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

::selection {
  background-color: #0e334d;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #525252;
  border-radius: 5px;
}

body,
input,
button {
  font-family: "IBM Plex Serif", serif;
}

@media only screen and (max-width: 768px) {
  .content {
    height: 100vh;
    flex: 3;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

body {
  margin: 0;
  background-color: #202124;
  color: #ffffff;
  font-family: "IBM Plex Serif", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "IBM Plex Serif", serif;
}

button {
  cursor: pointer;
}

.fatec-title-text {
  font-size: 2.5rem;
  margin-bottom: 0.2rem;
}

.fatec-subtitle-text {
  font-size: 1.7rem;
  margin-bottom: 2.5rem;
}

.fatec-content-text {
  font-size: 1rem;
  margin-bottom: 1.2rem;
  color: #e6e6e6;
}

#header {
  width: 100vw;
  height: 13vh;
  position: fixed;
  top: 0;
  padding: 0.5vh 7vw;
  background-color: #000000;
}

#footer {
  width: 100vw;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 0.8rem;
  background-color: #000000;
}

.header-logo {
  height: 100%;
}

.fatec-background-image {
  height: 30vh;
  margin-top: 13vh;
  border: 2px solid #232323;
  background-image: url("./Images/background.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-fatec-news {
  min-height: 82vh;
  display: flex;
  margin-top: 30vh;
  margin-bottom: 5vh;
  padding: 4rem 10rem;
}

.container-fatec-news {
  width: 60%;
  text-align: justify;
}

.fatec-news-second {
  width: 40%;
  margin-left: 2.5rem;
}

.fatec-news-second img {
  width: 30%;
  margin-top: 2rem;
  border-radius: 50%;
}
